
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);

*{box-sizing:border-box;}

body {
background:#f8f8f8;
}

.log-form {
	background-color: #dcdcdc; 
  width: 40%;
  min-width: 320px;
  max-width: 475px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
  
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);
  
}
.log-form form input{
	background:#bbb6b6;
	
}
/* For different browser  */
::-webkit-input-placeholder {
	padding-top:3px;
	font-size: 24px;
	color: #f8f8f8 !important ;
   text-align: center;
   vertical-align: baseline;
}

:-moz-placeholder { /* Firefox 18- */
padding-top:3px;
font-size: 24px;
color: #f8f8f8 !important ;
   text-align: center;  
   vertical-align: baseline;
}

::-moz-placeholder {  /* Firefox 19+ */
margin-top:3px;
font-size: 24px;
color: #f8f8f8 !important ;
   text-align: center;  
   vertical-align: baseline;
}

:-ms-input-placeholder {  
	vertical-align: baseline;
	padding-top:3px;
	font-size: 24px;
	color: #f8f8f8 !important ;
   text-align: center; 
}
/* end */
.loginbody {

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

  form {
  
  	text-align: center;
    display: inline-block;
    display: block;
    width: 100%;
    padding: 2em;
  }
  
  h2 {
    width: 100%;
    color: lighten(@grey, 20%);
    font-family: 'open sans condensed';
    font-size: 1.35em;
    display: block;
    background:@grey;
    width: 100%;
    text-transform: uppercase;
    padding: .75em 1em .75em 1.5em;
    box-shadow:inset 0px 1px 1px fadeout(white, 95%);
    border: 1px solid darken(@grey, 5%);
    margin: 0;
    font-weight: 200;
  }
  
  input {
  font-size: 24px;
  color: #f8f8f8 !important ;
    display: block;
    margin: auto auto;
    width: 100%;
    height: 10%;
    margin-bottom: 1em;
   
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-top: .5em;
    padding-bottom: .5em;
    color: #757575;
    border-radius: 5px;
    &:focus {
      outline: none;
    }
    
  }
  
  .btnLogin {  
  background-color: #ed1c24; 
    border: none;
    color: white;
    padding: 20px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
  	border-radius: 12px;
  }
  

